body {
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}



.header {
    display: flex;
    background-color: #1F2937;
    padding: 20px 0;
    justify-content: center;
}

.head-content {
    width: 1000px;
    flex: 1, 1, auto;
    display: flex;
    justify-content: space-between;
}

.header div {
    border: black solid;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.head-left, .head-right {
    display: flex;
    align-items: center;
    gap: 16px;
}

.body div{
    border: black solid;
    
}

.container-one{
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    padding: 70px 0;
}

.one-content {
    width: 1000px;
    flex: 1, 1, auto;
    display: flex;
}

.one-left, .one-right {
    flex: 1;
}

.one-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.one-right {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
}

.one-image {
    color: white;
}

.head-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.one-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.one-subtext, .head-links {
    font-size: 18px;
    color: #E5E7EB
}

.sign-up {
    background-color: #3882F6;
    color: #F9FAF8;
}


.container-two {
    display: flex;
    justify-content: center;
    padding: 70px 0;
}

.two-content {
    width: 1000px;
    flex: 1, 1, 0;
    display: flex;
    flex-direction: column;
}

.two-title, .info-boxes {
    flex: 1;
}

.two-title {
    text-align: center;
}

.info-boxes {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.info {
    max-width: 200px;
}


.container-three {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 70px 0;
}

.three-content {
    width: 1000px;
    flex: 1, 1, 0;
    display: flex;
    flex-direction: column;
}



.signature {
    text-align: right;
}


.container-four {
    padding: 70px 0;
    display: flex;
    justify-content: center;

}

.four-content {
    width: 1000px;
    flex: 1, 1, 0;
    display: flex;
    flex-direction: column;
}

.box-text {
    text-align: center;
}

.footer {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}



